@import url('//fonts.googleapis.com/css?family=Roboto:300,400,700')

::-moz-selection
  background-color: $blue
  color: #fff
  text-shadow: none

::selection
  background-color: $blue
  color: #fff
  text-shadow: none

html
  font-size: $unity-font-size

body
  color: $base-font-color
  font-family: $font-family-base
  font-size: $base-font-size
  line-height: $base-line-height
  font-weight: 300

p
  margin: 0 0 $base-spacing

a
  text-decoration: none
  transition: color .15s ease-in-out, opacity .15s ease-in-out

  &:hover,
  &:focus
    text-decoration: underline

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font-family
  line-height: $heading-line-height
  margin: 0 0 $base-spacing
  letter-spacing: -.02rem
  font-weight: 700

h1
  font-size: 2rem

h2
  font-size: 1.6rem

h3
  font-size: 1.4rem

h4
  font-size: 1.2rem

h5,
h6
  font-size: 1rem

ul,
ol
  padding-left: $base-spacing
  margin: 0 0 $base-spacing

li
  ul,
  ol
    padding-left: $small-spacing
    margin: 0

ul
  list-style: disc

ol
  list-style: decimal
