@import url('//fonts.googleapis.com/css?family=Roboto:300,400,700')

::-moz-selection
  background-color: $blue
  color: #fff
  text-shadow: none

::selection
  background-color: $blue
  color: #fff
  text-shadow: none

html
  font-size: $unity-font-size

body
  color: $base-font-color
  font-family: $font-family-base
  font-size: $base-font-size
  font-weight: 400

a
  color: $link-color
  text-decoration: none
  transition: color .15s ease-in-out, opacity .15s ease-in-out

  &:hover,
  &:focus
    color: $link-hover-color
    text-decoration: underline

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font-family
  line-height: $heading-line-height
  margin: $small-spacing 0
  font-weight: 700

h1,
h2,
h3,
h4,
h5,
h6,
p
  &:last-child
    margin-bottom: 0

h1
  font-size: 2rem

h2
  font-size: 1.6rem

h3
  font-size: 1.4rem

h4
  font-size: 1.2rem

h5,
h6
  font-size: 1rem
