.card
  padding: $base-spacing $base-spacing 0
  background-color: #fff
  box-shadow: 0 2px 8px rgba(#000, .2)
  border-radius: $border-radius-base
  margin: $small-spacing 0 $small-spacing

  +clearfix

  &__view-all
    display: block
    text-align: center
    margin: 0
    padding: $small-spacing 0
    border-top: $base-border
    text-transform: uppercase
    font-size: .8em
    width: 100%
