.section
  &__title
    font-size: 1.8em
    position: relative
    letter-spacing: -.03em
    color: rgba($gray-dark, .8)
    text-transform: uppercase
    margin-top: $small-spacing
    margin-bottom: $small-spacing

    .icon
      opacity: .75
      font-size: 60%
      vertical-align: middle
      top: -4px
      position: relative

    &:after
      content: ''
      display: block
      width: 50px
      height: 4px
      background-color: $green

    +media($container-desktop)
      font-size: 2em

    a
      opacity: .4
      color: $blue

      &:focus,
      &:active,
      &:hover
        text-decoration: none
        color: $blue
        opacity: .9

  &__subtitle
    font-size: 2em
    opacity: .75
    width: 75%
    margin: 0 auto $small-spacing

  &--featured
    margin-top: $base-spacing
    padding-top: $base-spacing
    padding-bottom: $base-spacing

    .section__title
      text-align: center
      margin-bottom: $base-spacing

      &:after
        margin: 0 auto

  &--bg
    padding-top: ($base-spacing * 4)
    padding-bottom: ($base-spacing * 4)
    background: url('../images/elephants-image.jpg') no-repeat bottom center
    background-size: cover

    .section__subtitle
      color: #fff
      margin-bottom: $large-spacing
      font-weight: 300
      font-size: 1.4em

      &:after
        content: ''
        display: block
        width: 50px
        height: 4px
        background-color: #fff
        margin: $small-spacing auto 0

      +media($container-desktop)
        font-size: 2.3em

    .btn-ghost
      font-size: 1.2rem

      +media($container-desktop)
        padding: 15px 35px

      +media(max-width $container-tablet)
        display: block
        width: 100%

  .card
    position: relative
    z-index: 2

.sp
  width: 100%
  height: $base-spacing

  +clearfix

  &--small
    height: $small-spacing

  &--large
    height: $large-spacing

.jumbotron
  .section__title:after
    margin: $small-spacing auto
